<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each events}}
      <h1>{{this.title}}</h1>
      <ul>
        <li>{{this.description}}</li>
        <li>{{this.start_datetime}}</li>
        <li>{{this.end_datetime}}</li>
        <p>Over 21? <em>{{this.over_21}}</em></p>
      </ul>
      <a href="events/{{this.id}}"><h4>Learn More</h4></a>
      <a href="events/{{this.id}}/register"><h3>Register For Event</h3></a>
    {{/each}}

  </body>
</html>
