<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/events/{{event.id}}/register" method="POST">
      <label for="preferred_name">Preferred Name</label>
      <input id="preferred_name" class="form-control" type="text" value="{{attendee.preferred_name}}">

      <label for="last_name">Last Name</label>
      <input id="last_name" class="form-control" type="text" value="{{attendee.last_name}}">

      <label for="birthday">Birthday</label>
      <input id="birthday" class="form-control" type="date" value="{{attendee.birthday}}">

      <label for="email">Email</label>
      <input id="email" class="form-control" type="text" value="{{attendee.email}}">

      <label for="tickets">Tickets</label>
      <select id="tickets">
        {{#each tickets}}
          <option value="{{this.name}}: ${{this.price}}">{{this.name}} {{this.price}}</option>
        {{/each}}
      </select>

      <input type="submit" value="Register">
    </form>
  </body>
</html>
