<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{event.title}}</title>
  </head>
  <body>
    <h1>{{event.title}}</h1>
    <ul>
      <li>{{event.description}}</li>
      <li>{{event.start_datetime}}</li>
      <li>{{event.end_datetime}}</li>
      <p>Over 21? <em>{{event.over_21}}</em></p>
    </ul>
  </body>
</html>
