<h1>{{event.title}}</h1>
<h3>{{event.description}}</h3>
<p>Starting: {{event.start_datetime}}</p>
<p>Ending: {{event.end_datetime}}</p>
<p>Over 21: <strong>{{event.over_21}}</strong></p>
<p><a href="/events/{{event.id}}/attendees">See Event Attendees</a></p>
