<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 35%;
       }
    </style>
  </head>
  <body>
    <h3>Event Location</h3>
    <div id="map"></div>
    <p>{{event.line_1}} {{event.city}}, {{event.state}} {{event.zip}}</p>

    <script>
      function initMap() {
        const geocoder = new google.maps.Geocoder()
        const zip = {{event.zip}}
        const zipCode = zip.toString()

        geocoder.geocode({'address': zipCode}, (results, status) => {
          if (status == google.maps.GeocoderStatus.OK) {

            const map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: results[0].geometry.location
            })
            const marker = new google.maps.Marker({
              position: results[0].geometry.location,
              map: map
            })
          }
          else {
            alert("Geocode was not successful for the following reason: " + status)
          }
        })
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYSCA3Z4clOMcJ9p88HovJCEkll-Lv7uU&callback=initMap">
    </script>
  </body>
</html>
