<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each attendees}}
      <h1>{{this.title}}</h1>
      <ul>
        <li>{{this.description}}</li>
        <li>{{this.start_datetime}}</li>
        <li>{{this.end_datetime}}</li>
        <p>Over 21? <em>{{this.over_21}}</em></p>
      </ul>
    {{/each}}

  </body>
</html>
