<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each attendee}}
      <h1>{{this.preferred_name}}</h1>
      <ul>
        <li>{{this.birthday}}</li>
        <li>{{this.email}}</li>
        <p>Over 21? <em>{{this.over_21}}</em></p>
      </ul>
      <a href="../../attendees/{{this.id}}"><p>View Attendee Events</p></a>
    {{/each}}

  </body>
</html>
