<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {{#each attendee}}
        <h1>{{this.preferred_name}}</h1>
        <p>{{this.email}}</p>
        <ul>
          <li>{{this.title}}</li>
        </ul>
        <p>{{this.start_datetime}}</p> -> <p>{{this.end_datetime}}</p>
      {{/each}}
  </body>
</html>
