<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each venue}}
      <h1>{{this.name}}</h1>
      <p>{{this.capacity}}</p>
      <ul>
        <li>{{this.line_1}}</li>
        <li>{{this.city}}</li>
        <li>{{this.state}}</li>
      </ul>
      <a href="/venues/{{this.id}}"><p>See Events Here</p></a>
    {{/each}}
  </body>
</html>
