<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {{#each venue}}
        <h1>{{this.title}}</h1>
        <p>{{this.email}}</p>
        <p>{{this.venue_name}}</p>
        <p>{{this.start_datetime}}</p>
        <p>{{this.end_datetime}}</p>
        <a href="../events/{{this.id}}"><p>Get More Information</p></a>
      {{/each}}
  </body>
</html>
